<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  <script src="/javascripts/account.js" type="text/javascript"></script>
</html>
